.head {
    display: flex;
    flex-direction: row;
    background-color: brown;
    height: 40px;
    padding: 20px;

}

.head button {
    margin-right: 20px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.head button:hover {
    background-color: gray;
    cursor: pointer;
}

body {
    height: 1000px;
}

.intro {
    margin: 30px;
}

.introwrapper {
    display: flex;
    flex-direction: row;
}

.selfport img{
    height: 500px;
    margin: 100px;
    height: auto;
}

a {text-decoration: none;
   color: black;}

.buttons{
        margin-right: 20px;
    border-radius: 5px;
    height: 20px;
    width: 76px;
    border: solid gray;
    text-align: center;
    padding: 4px;
    background-color: gainsboro;
}

.buttons:hover {
    background-color: gray;
    cursor: pointer;
}

p {
    margin: 0px;
    margin-top: 3px;
}

.buttons 

.intro {
    margin: 30px;
    
    text-align: start;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.projects_intro {
    text-align: center;
}

.collumn {
    display: flex;
    flex-direction: column;
    width: auto;
}

.row {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.row div {
    
    width: 350px;
    height: 400px;
}

img {
    width: 350px;
    height: 250px;
}

.blogEntry {
    border: solid black 1px;
    border-radius: 3px;
    min-width: 30px;
    min-height: 50px;
    max-width: 300px;
    max-height: 400px;
    padding: 10px;
    margin: 20px;
}

.blogTitle {
    margin: 10px;
}

.blogs {
    
}

.blogrow {
    display: flex;
    flex-direction: row;

}