.head {
    display: flex;
    flex-direction: row;
    background-color: brown;
    height: 40px;
    padding: 10px;

}

.head button {
    margin-right: 20px;
    border-radius: 5px;
    height: 30px;
    width: 80px;
}

.head button:hover {
    background-color: gray;
    cursor: pointer;
}

body {
    height: 1000px;
}

.quickIntro {
    margin-bottom: 150px;
}
.intro {
    margin: 30px;
}

.projectIntro h1 {
margin: 20px;
}

.projectIntro h3 {
     
    text-align: center;
    margin: 50px;
}

.introwrapper {
    display: flex;
    flex-direction: row;
}

@media (max-width: 700px) {
    .introwrapper {
        flex-direction: column;
    }
}


.selfport img{
    height: 500px;
    margin: 100px;
    height: 500px;
}

@media(max-width: 700px) {
    .selfport img{
        margin: 40px;
    }
}

a {text-decoration: none;
   color: black;}

.buttons{
        margin-right: 20px;
    border-radius: 5px;
    height: 20px;
    width: 76px;
    border: solid gray;
    text-align: center;
    padding: 4px;
    background-color: gainsboro;
}

.buttons:hover {
    background-color: gray;
    cursor: pointer;
}

p {
    margin: 0px;
    margin-top: 3px;
}

.buttons 

.intro {
    margin: 30px;
    
    text-align: start;
}

div {
  font-family: Arial, Helvetica, sans-serif;
}

.projectIntro {
    text-align: center;
}

.projectIntro h2 {
    margin: 50px;
}
.collumn {
    display: flex;
    flex-direction: column;
    width: auto;
}

.row {
    flex-direction: row;
    display: flex;
    justify-content: space-around;
}

@media (max-width: 730px) {
    .row {
        flex-direction: column;
    };
    
}


.row div {
    
    width: 350px;
    height: 400px;
}
 
 .row img {
    width: 350px;
    height: 250px;
} 

.row h3 {
    width: 350px
}

.blogEntry {
    border: solid black 1px;
    border-radius: 3px;
    min-width: auto;
    min-height: 80px;
    max-width: auto;
    padding: 10px;
    margin: 10px;
}

.blogRow {
    display: grid;
    grid-template-columns: repeat(3, auto);
}



.blogTitle {
    margin: 10px;
}

.blogs {
    display: flex;
    flex-direction: column;

}
